<!DOCTYPE html>
<html>
<head>
    <title>Plotly Visualization</title>
    <!-- Include Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <!-- Render Plotly visualization -->
    {{ plotly_html | safe }}
</body>
</html>