{% extends "layouts/base.html" %}

{% block title %} Tickets List {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="container-fluid">

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}

                {#                <h4 class="c-grey-900 mT-10 mB-30">Clients List</h4>#}
                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20">
                            <h4 class="c-grey-900 mB-20">Tickets list</h4>
                            {% if tickets %}
                                <table id="dataTable" class="table table-striped table-bordered" cellspacing="0"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Customer</th>
                                        <th>Description</th>
                                        <th>Open Date</th>
                                        <th>Close Date</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Customer</th>
                                        <th>Description</th>
                                        <th>Open Date</th>
                                        <th>Close Date</th>
                                        <th>Action</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>

                                    {% for ticket in tickets %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ ticket.name }}</td>
                                            <td>{{ ticket.status }}</td>
                                            <td>{{ ticket.customer }}</td>
                                            <td>{{ ticket.description }}</td>
                                            <td>{{ ticket.opening_date }}</td>
                                            <td>{{ ticket.closing_date }}</td>
                                            <td>

                                                <div class="dropdown">
                                                    <button class="btn btn-outline-primary dropdown-toggle"
                                                            type="button"
                                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                        More
                                                    </button>

                                                    <ul class="dropdown-menu">

                                                        <li><a class="dropdown-item" data-bs-toggle="modal"
                                                               href="#ticket_upd_{{ ticket.id }}">Update</a>
                                                        </li>

                                                        <li><a class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#ticket_det_{{ ticket.id }}" href="#">Details</a>
                                                        </li>

                                                        <li><a class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#ticket_{{ ticket.id }}"
                                                               href="#">Delete</a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>

                                        <!-- Modal Update -->
                                        <div class="modal fade" id="ticket_upd_{{ ticket.id }}" tabindex="-1"
                                             aria-labelledby="ticketModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <div class="modal-body">
                                                        <form method="post" action="{% url 'ticket-edit' ticket.id %}"
                                                              enctype="multipart/form-data">

                                                            {% csrf_token %}
                                                            <div class="card-body">
                                                                {{ ticket.update_form.as_p }}
                                                            </div>
                                                            <div class="card-footer text-center">
                                                                <button type="submit"
                                                                        class="button-black-text btn btn-outline-primary">
                                                                    Update
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Modal -->



                                        <!-- Modal Details -->
                                        <div class="modal fade" id="ticket_det_{{ ticket.id }}" tabindex="-1"
                                             aria-labelledby="ticketModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="ticketModalLabel">Details View
                                                            TicketID: {{ ticket.id }} </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="card text-center">
                                                            <div class="card-header">
                                                                <h5 class="card-title">{{ ticket }}</h5>
                                                            </div>
                                                            <div class="card-body">
                                                                {#                                                        <h5 class="card-title">{{ client }}</h5>#}
                                                                <p class="card-text">
                                                                    <strong>Name:</strong> {{ ticket.name }}
                                                                </p>
                                                                <p class="card-text">
                                                                    <strong>Status:</strong> {{ ticket.status }}
                                                                </p>
                                                                <p class="card-text">
                                                                    <strong>Customer:</strong> {{ ticket.customer }}</p>
                                                                <p class="card-text">
                                                                    <strong>Description:</strong> {{ ticket.description }}
                                                                </p>
                                                                <p class="card-text">
                                                                    <strong>Opened
                                                                        date:</strong> {{ ticket.opening_date }}</p>
                                                                <p class="card-text">
                                                                    <strong>Closed
                                                                        date:</strong> {{ ticket.closing_date }}</p>
                                                            </div>
                                                            <div class="card-footer text-body-secondary">
                                                                {#                                                        Created at: {{ invoice.date|date:"d-m-Y" }}#}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button"
                                                                class="button-black-text btn btn-outline-primary"
                                                                data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Modal -->

                                        <!-- Delete Modal  -->
                                        <div class="modal fade" id="ticket_{{ ticket.id }}" tabindex="-1"
                                             aria-labelledby="ticketModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="ticketModalLabel">Delete
                                                            - {{ ticket }}</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure want to delete {{ ticket }}?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            No
                                                        </button>
                                                        <a href="{% url 'ticket-delete-modal' ticket.id %}"
                                                           class="button-black-text btn btn-outline-danger">Yes</a>
                                                        {#                                                    <button type="button" onclick="location.href='{% url 'delete-modal' invoice.id %}'" class="btn btn-danger">Yes</button>#}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Modal -->

                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <h2 class="text-center">No tickets.</h2>
                            {% endif %}

                            <div class="col text-center">
                                <span><button type="button" class="btn cur-p btn-outline-primary" data-bs-toggle="modal"
                                              data-bs-target="#addRecordModal"><i
                                        class="ti-plus"></i>&nbsp;Ticket Add</button></span><br><br></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal ADD -->
        <div class="modal fade" id="addRecordModal" tabindex="-1" role="dialog"
             aria-labelledby="addRecordModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addRecordModalLabel">Add New Ticket</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form_get.as_p }}
                            <div class="col text-center">
                                <button type="submit" class="btn btn-outline-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {#        </div>#}

    </main>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
