{% load static %}

<div class="sidebar">
    <div class="sidebar-inner">
        <!-- ### $Sidebar Header ### -->
        <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
                <div class="peer peer-greed">
                    <a class="sidebar-link td-n" href="{% url 'home' %}">
                        <div class="peers ai-c fxw-nw">
                            <div class="peer">
                                <div class="logo">
                                    <img src="{{ ASSETS_ROOT }}/images/logosm.png" alt="">
                                </div>

                            </div>

                            <div class="peer peer-greed">
                                <h5 class="lh-1 mB-0 logo-text">PlanifyEnterprise</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="peer">
                    <div class="mobile-toggle sidebar-toggle">
                        <a href="" class="td-n">
                            <i class="ti-arrow-circle-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- ### $Sidebar Menu ### -->
        <ul class="sidebar-menu scrollable pos-r">
            <li class="nav-item dropdown mT-30 actived">
                <a class="sidebar-link" href="#">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-user"></i>
                </span>
                    <span class="title">Clients</span>
                    <span class="arrow">
                  <i class="ti-angle-right"></i>
                </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'client-list' %}">Clients List</a>
                    </li>
                    <li>
                        <a href="{% url 'client-create' %}">Client Add</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class='sidebar-link' href="#">
                <span class="icon-holder">
                  <i class="c-brown-500 ti-receipt"></i>
                </span>
                    <span class="title">Invoices</span>
                    <span class="arrow">
                  <i class="ti-angle-right"></i>
                </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'invoice-list' %}">Invoices List</a>
                    </li>
                    <li>
                        <a href="#">Invoice Add</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class='sidebar-link' href="#">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-id-badge"></i>
                </span>
                    <span class="title">Employee</span>
                    <span class="arrow">
                  <i class="ti-angle-right"></i>
                </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'employee-list' %}">Employees List</a>
                    </li>
                    <li>
                        <a href="#">Employee Add</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class='sidebar-link' href="#">
                <span class="icon-holder">
                  <i class="c-deep-orange-500 ti-briefcase"></i>
                </span>
                    <span class="title">Projects</span>
                    <span class="arrow">
                  <i class="ti-angle-right"></i>
                </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'project-list' %}">Projects List</a>
                    </li>
                    <li>
                        <a href="{% url 'project-create' %}">Project Add</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class='sidebar-link' href="#">
                <span class="icon-holder">
                  <i class="c-deep-purple-500 ti-layout-list-thumb"></i>
                </span>
                    <span class="title">Tasks</span>
                    <span class="arrow">
                  <i class="ti-angle-right"></i>
                </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'task-list' %}">Tasks List</a>
                    </li>
                    <li>
                        <a href="{% url 'task-create' %}">Task Add</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class='sidebar-link' href="#">
                <span class="icon-holder">
                  <i class="c-indigo-500 ti-credit-card"></i>
                </span>
                    <span class="title">Payments</span>
                    <span class="arrow">
                  <i class="ti-angle-right"></i>
                </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'payment-list' %}">Payments List</a>
                    </li>
                    <li>
                        <a href="{% url 'payment-create' %}">Payment Add</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class='sidebar-link' href="#">
                <span class="icon-holder">
                  <i class="c-light-blue-500 ti-comment-alt"></i>
                </span>
                    <span class="title">Tickets</span>
                    <span class="arrow">
                  <i class="ti-angle-right"></i>
                </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'ticket-list' %}">Tickets List</a>
                    </li>
                    <li>
                        <a href="{% url 'ticket-create' %}">Ticket Add</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="sidebar-link" href="#">
                <span class="icon-holder">
                    <i class="c-pink-500 ti-bag"></i>
                  </span>
                    <span class="title">Products</span>
                    <span class="arrow">
                  <i class="ti-angle-right"></i>
                </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'product-list' %}">Products List</a>
                    </li>
                    <li>
                        <a href="{% url 'product-create' %}">Products Add</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="#">
                <span class="icon-holder">
                  <i class="c-orange-500 ti-stats-up"></i>
                </span>
                    <span class="title">Marketing</span>
                    <span class="arrow">
                  <i class="ti-angle-right"></i>
                </span>
                </a>

                <ul class="dropdown-menu">
                    <li>
                        <a class='sidebar-link' href="{% url 'campaign-list' %}">Campaign List</a>
                    </li>
                    <li>
                        <a class='sidebar-link' href="{% url 'campaign-create' %}">Campaign Add</a>
                    </li>
                </ul>

            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="{% url 'replenishment-list' %}">
                <span class="icon-holder">
                    <i class="c-purple-500 ti-package"></i>
                  </span>
                    <span class="title">Replenishments</span>
                    <span class="arrow">
                    <i class="ti-angle-right"></i>
                  </span>
                </a>

            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="{% url 'supplier-list' %}">
                <span class="icon-holder">
                    <i class="c-purple-500 ti-truck"></i>
                  </span>
                    <span class="title">Suppliers</span>
                    <span class="arrow">
                    <i class="ti-angle-right"></i>
                  </span>
                </a>
                {#              <ul class="dropdown-menu">#}
                {#                <li>#}
                {#                  <a href="#">Google Map</a>#}
                {#                </li>#}
                {#                <li>#}
                {#                  <a href="#">Vector Map</a>#}
                {#                </li>#}
                {#              </ul>#}
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="{% url 'calendar' %}">
                <span class="icon-holder">
                    <i class="c-purple-500 ti-calendar"></i>
                  </span>
                    <span class="title">Calendar</span>
                    <span class="arrow">
                    <i class="ti-angle-right"></i>
                  </span>
                </a>
                {#              <ul class="dropdown-menu">#}
                {#                <li>#}
                {#                  <a href="#">Google Map</a>#}
                {#                </li>#}
                {#                <li>#}
                {#                  <a href="#">Vector Map</a>#}
                {#                </li>#}
                {#              </ul>#}
            </li>
        </ul>

    </div>
</div>
