{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Planify Enterprise - {% block title %}{% endblock %}
    </title>
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/jquery.dataTables.min.css"
            integrity="sha512-1k7mWiTNoyx2XtmI96o+hdjP8nn0f3Z2N4oF/9ZZRgijyV4omsKOXEnqL1gKQNPy2MTSP9rIEWGcH/CInulptA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
{#        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />#}
    <link type="text/css" href="{{ ASSETS_ROOT }}/css/index.css" rel="stylesheet">

    {#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css"#}
    {#          integrity="sha512-CBy/jLGwVsNai4M2+sLmmO4Tqc4fhZZTYDxTs1+pZdCh7yam68jVRcTzyVxv6ADaqPWHAAR70sto13LilNJLew=="#}
    {#          crossorigin="anonymous" referrerpolicy="no-referrer"/>#}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.5/main.css"#}
{#          integrity="sha512-y4MbC7Jz9eczfP0rKpmFyd955vdJKA8CGNuPOVvbpZBmbOqUboz9XYuSX4oYPMI8evxQMF39sz9qERshxoaoHA=="#}
{#          crossorigin="anonymous" referrerpolicy="no-referrer"/>#}

    <!-- Specific Page CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="app">
<!-- @TOC -->
<!-- =================================================== -->
<!--
  + @Page Loader
  + @App Content
      - #Left Sidebar
          > $Sidebar Header
          > $Sidebar Menu

      - #Main
          > $Topbar
          > $App Screen Content
-->

<!-- @Page Loader -->
<!-- =================================================== -->
<div id='loader'>
    <div class="spinner"></div>
</div>

<script>
    window.addEventListener('load', function load() {
        const loader = document.getElementById('loader');
        setTimeout(function () {
            loader.classList.add('fadeOut');
        }, 300);
    });
</script>

<!-- @App Content -->
<!-- =================================================== -->
<div>

    {% include 'includes/sidebar.html' %}

    <!-- #Main ============================ -->
    <div class="page-container">

        {% include 'includes/navigation.html' %}

        {% block content %}{% endblock content %}

        {% include 'includes/footer.html' %}

    </div>

</div>

{% include 'includes/scripts.html' %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}

{% endblock javascripts %}

</body>
</html>
