<!DOCTYPE html>
<html>
<head>
    <title>Invoice</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Add your custom CSS and print-specific styles here */
        @media print {
            body {
                font-size: 12pt;
            }
            .no-print {
                display: none;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="mt-4">Invoice #{{ invoice.id }}</h1>
                <h2>Date: {{ invoice.date }}</h2>
            </div>

            <div class="col-6">
                <h3>Bill To:</h3>
                <p>
                    {{ invoice.customer }}<br>
                    {{ invoice.address }}<br>
{#                    {{ invoice.total }}#}
                </p>
            </div>

            <div class="col-12 mt-4">
                <h3>Items:</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Total</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
{#                        {% for invoice in invoices %}#}
                            <tr>
                                <td>{{ invoice.total }}</td>
                                <td>{{ invoice.status }}</td>

                            </tr>
{#                        {% endfor %}#}
                    </tbody>
                </table>
            </div>

            <div class="col-12 mt-4">
                <h3>Summary:</h3>
                <p>Subtotal: €{{ invoice.total }}</p>
                <p>Tax: € 23%</p>
                <p>Total: €{{ invoice.total }}</p>
            </div>

            <div class="col-12 mt-4 no-print">
                <button class="btn btn-primary" onclick="window.print()">Print</button>
            </div>
        </div>
    </div>
</body>
</html>
