{% extends "layouts/base.html" %}

{% block title %} Invoice List {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="container-fluid">

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20">
                            <h4 class="c-grey-900 mB-20">Invoice List</h4>
                            {% if invoices %}
                                <table id="dataTable" class="table table-striped table-bordered" cellspacing="0"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Customer</th>
                                        <th>Status</th>
                                        <th>Total</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>No</th>
                                        <th>Customer</th>
                                        <th>Status</th>
                                        <th>Total</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>

                                    {% for invoice in invoices %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ invoice.customer }}</td>
                                            {% if invoice.status == 'Paid' %}
                                            <td><div class="text-success">{{ invoice.status }}</div></td>
                                                {% else %}
                                                <td><div class="text-danger">{{ invoice.status }}</div></td>
                                            {% endif %}
                                            <td>{{ invoice.total }}</td>
                                            {#                                            <td>{{ invoice.date }}</td>#}

                                            <td>{{ invoice.date|date:'d-m-Y' }}</td>
                                            <td>

                                                <div class="dropdown">
                                                    <button class="btn btn-outline-primary dropdown-toggle"
                                                            type="button"
                                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                        More
                                                    </button>

                                                    <ul class="dropdown-menu">

                                                        <li><a class="dropdown-item" data-bs-toggle="modal"
                                                               href="#invoice_upd_{{ invoice.id }}">Update</a>
                                                        </li>

                                                        <li><a class="dropdown-item"
                                                               href="{% url 'invoice_print_view' invoice.id %}">Print</a>
                                                        </li>

                                                        <li><a class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#invoice_det_{{ invoice.id }}" href="#">Details</a>
                                                        </li>

                                                        <li><a class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#invoice_{{ invoice.id }}" href="#">Delete</a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>



                                        <!-- Modal Update -->
                                        <div class="modal fade" id="invoice_upd_{{ invoice.id }}" tabindex="-1"
                                             aria-labelledby="InvoiceModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    {#                                            <form method="post" enctype="multipart/form-data">#}
                                                    {#                                           #}
                                                    {#                                                <div class="modal-header">#}
                                                    {#                                                    <h4 class="modal-title">Update</h4>#}
                                                    {#                                                </div>#}

                                                    <div class="modal-body">
                                                        <form method="post"
                                                              action="{% url 'invoice-update' invoice.id %}"
                                                              enctype="multipart/form-data">

                                                            {% csrf_token %}
                                                            <div class="card-body">
                                                                {{ invoice.update_form.as_p }}
                                                            </div>
                                                            <div class="card-footer text-center">
                                                                <button type="submit"
                                                                        class="button-black-text btn btn-outline-primary">
                                                                    Update
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>

                                                    <div class="modal-footer">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Modal -->


                                        <!-- Modal Details -->
                                        <div class="modal fade" id="invoice_det_{{ invoice.id }}" tabindex="-1"
                                             aria-labelledby="InvoiceModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="InvoiceModalLabel">Details View
                                                            InvoiceID: {{ invoice.id }} </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="card text-center">
                                                            <div class="card-header">
                                                                <h5 class="card-title">{{ invoice }}</h5>
                                                            </div>
                                                            <div class="card-body">
                                                                {#                                                        <h5 class="card-title">{{ client }}</h5>#}
                                                                <p class="card-text">
                                                                    <strong>Customer:</strong> {{ invoice.customer }}
                                                                </p>
                                                                <p class="card-text">
                                                                    <strong>Status:</strong> {{ invoice.status }}
                                                                </p>
                                                                <p class="card-text">
                                                                    <strong>Total:</strong> {{ invoice.total }}</p>
                                                                <p class="card-text">
                                                                    <strong>Date:</strong> {{ invoice.date }}</p>
                                                            </div>
                                                            <div class="card-footer text-body-secondary">
                                                                Created at: {{ invoice.date|date:"d-m-Y" }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button"
                                                                class="button-black-text btn btn-outline-primary"
                                                                data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Modal -->


                                        <!-- Delete Modal  -->
                                        <div class="modal fade" id="invoice_{{ invoice.id }}" tabindex="-1"
                                             aria-labelledby="InvoiceModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="InvoiceModalLabel">Delete
                                                            - {{ invoice }}</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure want to delete {{ invoice }}?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            No
                                                        </button>
                                                        <a href="{% url 'invoice-delete-modal' invoice.id %}"
                                                           class="button-black-text btn btn-outline-danger">Yes</a>
                                                        {#                                                    <button type="button" onclick="location.href='{% url 'delete-modal' invoice.id %}'" class="btn btn-danger">Yes</button>#}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Modal -->

                                    {% endfor %}


                                    </tbody>
                                </table>
                            {% else %}
                                <h2 class="text-center">No Invoices.</h2>
                            {% endif %}
                            <div class="col text-center">
                                <span><button type="button" class="btn cur-p btn-outline-primary" data-bs-toggle="modal"
                                              data-bs-target="#addRecordModal"><i class="ti-plus"></i>&nbsp;Invoice Add</button></span><br><br></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <!-- Modal ADD -->
        <div class="modal fade" id="addRecordModal" tabindex="-1" role="dialog"
             aria-labelledby="addRecordModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addRecordModalLabel">Add New Record</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form_get.as_p }}
                            <div class="col text-center">
                                <button type="submit" class="btn btn-outline-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
