{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Planify Enterprise Calendar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale-all.js"></script>

    {#        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>#}
    <link type="text/css" href="{{ ASSETS_ROOT }}/css/index.css" rel="stylesheet">
</head>
<body class="app">
<!-- @TOC -->
<!-- =================================================== -->
<!--
  + @Page Loader
  + @App Content
      - #Left Sidebar
          > $Sidebar Header
          > $Sidebar Menu

      - #Main
          > $Topbar
          > $App Screen Content
-->

<!-- @Page Loader -->
<!-- =================================================== -->
<div id='loader'>
    <div class="spinner"></div>
</div>

<script>
    window.addEventListener('load', function load() {
        const loader = document.getElementById('loader');
        setTimeout(function () {
            loader.classList.add('fadeOut');
        }, 300);
    });
</script>

<!-- @App Content -->
<!-- =================================================== -->
<div>

    {% include 'includes/sidebar.html' %}

    <!-- #Main ============================ -->
    <div class="page-container">

        {% include 'includes/navigation.html' %}

        {% block content %}{% endblock content %}

        {% include 'includes/footer.html' %}

    </div>

</div>

{#{% include 'includes/scripts.html' %}#}
<script src="{{ ASSETS_ROOT }}/js/index.js"></script>

<script>
    $(document).ready(function () {
        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listWeek'
            },
            maxTime: "24:00:00",
            slotLabelFormat: ['H:mm'],
            events: '/all_events',
            selectable: true,
            selectHelper: true,
            editable: true,
            eventLimit: true,
            locale: 'en', // Language


            {# Color by task priority #}
            eventRender: function (event, element) {
                console.log(event.priority);
                if (event.priority === "HIGH") {
                    element.css('background-color', '#b72f2f');
                } else if (event.priority === "MEDIUM") {
                    element.css('background-color', '#1ac01a');
                } else if (event.priority === "LOW") {
                    element.css('background-color', '#007eff');
                }
                // Add more conditions here
            },

            {# calendar event push #}
            select: function (start, end, allDay) {
                $('#addRecordModal').modal('show');
            },
                {#var title = prompt("Enter Event Title");#}
                {#if (title) {#}
                {#    var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");#}
                {#    var end = $.fullCalendar.formatDate(end, "Y-MM-DD HH:mm:ss");#}

                            {#    $.ajax({#}
                            {#    type: "GET",#}
                            {#    url: '/add_event',#}
                            {#    data: {'title': title, 'start': start, 'end': end},#}
                            {#    dataType: "json",#}
                            {#    success: function (data) {#}
                            {#    calendar.fullCalendar('refetchEvents');#}
                            {#    alert("Added Successfully");#}
                            {# },#}
                            {#    error: function (data) {#}
                            {#    alert('Maybe not logged in or check console errors.?');#}
                            {#    console.error('Error data:', data);#}
                            {# }#}
                            {# });#}

                                {# }#}
                                {# },#}
                                {# calendar event update #}
                                eventResize: function (event) {
                                var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
                                var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
                                var title = event.title;
                                var id = event.id;
                                $.ajax({
                                type: "GET",
                                url: '/update',
                                data: {'title': title, 'start': start, 'end': end, 'id': id},
                                dataType: "json",
                                success: function (data) {
                                calendar.fullCalendar('refetchEvents');
                                {# alert('Event Update'); #}
                            },
                                error: function (data) {
                                alert('Maybe not logged in?');
                            }
                            });
                            },

                                eventDrop: function (event) {
                                var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
                                var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
                                var title = event.title;
                                var id = event.id;
                                $.ajax({
                                type: "GET",
                                url: '/update',
                                data: {'title': title, 'start': start, 'end': end, 'id': id},
                                dataType: "json",
                                success: function (data) {
                                calendar.fullCalendar('refetchEvents');
                                {# alert('Event Update'); #}
                                    location.reload();
                            },
                                error: function (data) {
                                alert('Maybe not logged in?');
                            }
                            });
                            },
                                {# calendar event delete #}
                                eventClick: function (event) {
                                if (confirm("Are you sure you want to remove it?")) {
                                var id = event.id;
                                $.ajax({
                                type: "GET",
                                url: '/remove',
                                data: {'id': id},
                                dataType: "json",
                                success: function (data) {
                                calendar.fullCalendar('refetchEvents');
                                alert('Event Removed');
                            },
                                error: function (data) {
                                alert('Maybe not logged in?');
                            }
                            });
                            }
                            },

                                });

                                });

</script>

<!-- Specific Page JS goes HERE -->
{#{% block javascripts %}#}
{##}
{#{% endblock javascripts %}#}

</body>

</html>