{% extends "layouts/base.html" %}

{% block title %} Calendar {% endblock title %}

{% block stylesheets %}
  <!-- Add any additional stylesheets here -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock stylesheets %}

{% block content %}
  <main class='main-content bgc-grey-100'>
    <div id='mainContent'>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="bdrs-3 ov-h bgc-white bd">
              <div class="bgc-deep-purple-500 ta-c p-30">
                <h1 class="fw-300 mB-5 lh-1 c-white">01<span class="fsz-def">st</span></h1>
                <h3 class="c-white">Monday</h3>
              </div>
              <div class="pos-r">
                <ul class="m-0 p-0 mT-20">
                  {% for event in events %}
                    <li class="bdB peers ai-c jc-sb fxw-nw draggable-event" data-event-id="{{ event.id }}">
                      <a class="td-n p-20 peers fxw-nw me-20 peer-greed c-grey-900">
                        <div class="peer mR-15">
                          <i class="fa fa-fw fa-clock-o c-red-500"></i>
                        </div>
                        <div class="peer">
                          <span class="fw-600">{{ event.title }}</span>
                          <div class="c-grey-600">
                            <span class="c-grey-700">{{ event.start_date|date:"Y-m-d" }} - </span>
                            <i>{{ event.end_date|date:"Y-m-d" }}</i>
                          </div>
                        </div>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div id='calendar-drop-area'>
              Drop events here
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}

{% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $(function() {
      // Make events draggable
      $(".draggable-event").draggable({
        revert: "invalid"
      });

      // Implement droppable area
      $("#calendar-drop-area").droppable({
        accept: ".draggable-event",
        drop: function(event, ui) {
          const eventId = ui.helper.data("event-id");
          // Perform AJAX call to update_event
          $.post("/update_event/", {
            "event_id": eventId,
            // Add any other data you need, such as new date/time
          }, function(response) {
            if (response.status === "success") {
              // Update the calendar view or give feedback
              alert("Event updated successfully.");
            }
          });
        }
      });
    });
  </script>
{% endblock javascripts %}
