<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Line Chart Example</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div class="container">
    <h1 class="text-center mt-5">Line Chart Example</h1>

    <div class="row mt-5">
        <div class="col-md-12">
            <canvas id="line-chart" height="220"></canvas>
        </div>
    </div>
</div>

<script>
// Prepare data. You can receive this data from Django's context as well.
const labels = {{ labels|safe }};
const data = {{ data|safe }};

const ctx = document.getElementById('line-chart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            label: 'My Dataset',
            data: data,
            borderColor: 'rgba(75, 192, 192, 1)',
            fill: false
        }]
    }
});
</script>

</body>
</html>