{% extends 'layouts/base.html' %}

{% block title %} Update - {{ employee }}
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded"> {# create card shadow #}
                    <div class="card">
                        <div class="card-header">
                            <h3 class="text-center">Update employee {{ employee }}</h3>
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                {{ form.as_p }}
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}