{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Employee List {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="container-fluid">

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}

                {#                <h4 class="c-grey-900 mT-10 mB-30">Clients List</h4>#}
                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20">
                            <h4 class="c-grey-900 mB-20">Employee list</h4>
                            {% if employees %}
                                <table id="dataTable" class="table table-striped table-bordered" cellspacing="0"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                        <th>Position</th>
                                        <th>Hire Date</th>
                                        <th>Salary</th>
                                        <th>Birth Date</th>
                                        <th>Profile</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>No</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                        <th>Position</th>
                                        <th>Hire Date</th>
                                        <th>Salary</th>
                                        <th>Birth Date</th>
                                        <th>Profile</th>
                                        <th>Action</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>

                                    {% for employee in employees %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ employee.first_name }}</td>
                                            <td>{{ employee.last_name }}</td>
                                            <td>{{ employee.username }}</td>
                                            <td>{{ employee.position }}</td>
                                            <td>{{ employee.hire_date }}</td>
                                            <td>{{ employee.salary }}</td>
                                            <td>{{ employee.date_of_birth }}</td>
                                            {% if employee.profile_image %}
                                                <td><img class="w-2r bdrs-50p" src="{{ employee.profile_image.url }}"
                                                         alt="">
                                                </td>
                                            {% else %}
                                                <td><img class="w-2r bdrs-50p"
                                                         src="{% static 'assets/images/user.png' %}" alt="">
                                                </td>
                                            {% endif %}
                                            <td>

                                                <div class="dropdown">
                                                    <button class="btn btn-outline-primary dropdown-toggle"
                                                            type="button"
                                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                        More
                                                    </button>

                                                    <ul class="dropdown-menu">

                                                        <li><a class="dropdown-item" data-bs-toggle="modal"
                                                               href="#employee_upd_{{ employee.id }}">Update</a>
                                                        </li>

                                                        <li><a class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#employee_det_{{ employee.id }}"
                                                               href="#">Details</a>
                                                        </li>

                                                        <li><a class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#employee_{{ employee.id }}" href="#">Delete</a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>

                                        <!-- Modal Update -->
                                        <div class="modal fade" id="employee_upd_{{ employee.id }}" tabindex="-1"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <div class="modal-body">
                                                        <form method="post"
                                                              action="{% url 'employee-edit' employee.id %}"
                                                              enctype="multipart/form-data">

                                                            {% csrf_token %}
                                                            <div class="card-body">
                                                                {{ employee.update_form.as_p }}
                                                            </div>
                                                            <div class="card-footer text-center">
                                                                <button type="submit"
                                                                        class="button-black-text btn btn-outline-primary">
                                                                    Update
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Modal -->



                                        <!-- Modal Details -->
                                        <div class="modal fade" id="employee_det_{{ employee.id }}" tabindex="-1"
                                             aria-labelledby="EmployeeModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="EmployeeModalLabel">Details
                                                            View
                                                            Employee: {{ employee.id }} </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="card text-center">
                                                            <div class="card-header">
                                                                <h5 class="card-title">{{ employee }}</h5>
                                                            </div>
                                                            <div class="card-body">
                                                                {#                                                        <h5 class="card-title">{{ client }}</h5>#}
                                                                <p class="card-text">
                                                                    <strong>First
                                                                        Name:</strong> {{ employee.first_name }}
                                                                </p>
                                                                <p class="card-text">
                                                                    <strong>Last Name:</strong> {{ employee.last_name }}
                                                                </p>
                                                                <p class="card-text">
                                                                    <strong>Email:</strong> {{ employee.email }}</p>
                                                                <p class="card-text">
                                                                    <strong>Position:</strong> {{ employee.position }}
                                                                </p>
                                                                <p class="card-text">
                                                                    <strong>Hire date:</strong> {{ employee.hire_date }}
                                                                </p>
                                                                <p class="card-text">
                                                                    <strong>Profile:</strong>
                                                                    {% if employee.profile_image %}
                                                                        <img class="w-2r bdrs-50p"
                                                                             src="{{ employee.profile_image.url }}"
                                                                             alt="">

                                                                    {% else %}
                                                                        <img class="w-2r bdrs-50p"
                                                                             src="{% static 'assets/images/user.png' %}"
                                                                             alt="">

                                                                    {% endif %}
                                                                </p>
                                                            </div>
                                                            <div class="card-footer text-body-secondary">
                                                                {#                                                        Created at: {{ invoice.date|date:"d-m-Y" }}#}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button"
                                                                class="button-black-text btn btn-outline-primary"
                                                                data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Modal -->

                                        <!-- Delete Modal  -->
                                        <div class="modal fade" id="employee_{{ employee.id }}" tabindex="-1"
                                             aria-labelledby="EmployeeModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="EmployeeModalLabel">Delete
                                                            - {{ employee }}</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure want to delete {{ employee }}?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            No
                                                        </button>
                                                        <a href="{% url 'employee-delete-modal' employee.id %}"
                                                           class="button-black-text btn btn-outline-danger">Yes</a>
                                                        {#                                                    <button type="button" onclick="location.href='{% url 'delete-modal' invoice.id %}'" class="btn btn-danger">Yes</button>#}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Modal -->

                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <h2 class="text-center">No Employee.</h2>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
