{% extends 'layouts/base.html' %}

{% block title %}
    Add new task
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded"> {# create card shadow #}
                    <div class="card">
                        <div class="card-header">
                            <h3 class="text-center custom-heading-h3">Add new task</h3>
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                {{ form.as_p }}
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-success btn-sm custom-button"
                                        data-bs-toggle="tooltip"
                                        title="Apply"
                                        data-bs-custom-class="tooltip-custom">SAVE
                                </button>
                                <!-- Create a button displaying today's date -->

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}