{% extends "layouts/base.html" %}

{% block title %} Tasks List {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="container-fluid">

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}

                {#                <h4 class="c-grey-900 mT-10 mB-30">Clients List</h4>#}
                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20">
                            <h4 class="c-grey-900 mB-20">Tasks list</h4>
                            {% if tasks %}
                                <table id="dataTable" class="table table-striped table-bordered" cellspacing="0"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Project</th>
                                        <th>Status</th>
                                        <th>Priority</th>
                                        <th>Product</th>
                                        <th>Qty</th>
                                        <th>Created At:</th>
                                        <th>Updated At:</th>
                                        <th>Due Date:</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Project</th>
                                        <th>Status</th>
                                        <th>Priority</th>
                                        <th>Product</th>
                                        <th>Qty</th>
                                        <th>Created At:</th>
                                        <th>Updated At:</th>
                                        <th>Due Date:</th>
                                        <th>Action</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>

                                    {% for task in tasks %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ task.name }}</td>
                                            <td>{{ task.project }}</td>
                                            <td>{{ task.status }}</td>

                                            {% if task.priority == 'HIGH' %}
                                                <td>
                                                    <div class="text-danger">{{ task.priority }}</div>
                                                </td>
                                            {% elif task.priority == 'MEDIUM' %}
                                                <td>
                                                    <div class="text-success">{{ task.priority }}</div>
                                                </td>
                                            {% elif task.priority == 'LOW' %}
                                                <td>
                                                    <div class="text-info">{{ task.priority }}</div>
                                                </td>
                                            {% endif %}

                                            {% if task.product %}
                                                <td>{{ task.product }}</td>
                                            {% else %}
                                                <td>-</td>

                                            {% endif %}
                                            {% if task.product %}
                                                <td>{{ task.quantity }}</td>
                                            {% else %}
                                                <td>-</td>
                                            {% endif %}

                                            <td>{{ task.created_at|date:"j-M-Y D" }}</td>
                                            <td>{{ task.updated_at|date:"j-M-Y D" }}</td>
                                            <td>{{ task.due_date|date:"j-M-Y D" }}</td>
                                            <td>

                                                <div class="dropdown">
                                                    <button class="btn btn-outline-primary dropdown-toggle"
                                                            type="button"
                                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                        More
                                                    </button>

                                                    <ul class="dropdown-menu">

                                                        <li><a class="dropdown-item" data-bs-toggle="modal"
                                                               href="#task_upd_{{ task.id }}">Update</a>
                                                        </li>

                                                        <li><a class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#task_det_{{ task.id }}"
                                                               href="#">Details</a>
                                                        </li>

                                                        <li><a class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#task_{{ task.id }}" href="#">Delete</a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>

                                        <!-- Modal Update -->
                                        <div class="modal fade" id="task_upd_{{ task.id }}" tabindex="-1"
                                             aria-labelledby="TaskModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <div class="modal-body">
                                                        <form method="post" action="{% url 'task-edit' task.id %}"
                                                              enctype="multipart/form-data">

                                                            {% csrf_token %}
                                                            <div class="card-body">
                                                                {{ task.update_form.as_p }}
                                                            </div>
                                                            <div class="card-footer text-center">
                                                                <button type="submit"
                                                                        class="button-black-text btn btn-outline-primary">
                                                                    Update
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Modal -->



                                        <!-- Modal Details -->
                                        <div class="modal fade" id="task_det_{{ task.id }}" tabindex="-1"
                                             aria-labelledby="TaskModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="TaskModalLabel">Details View
                                                            TaskID: {{ task }} </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="card text-center">
                                                            <div class="card-header">
                                                                <h5 class="card-title">{{ task }}</h5>
                                                            </div>
                                                            <div class="card-body">
                                                                {#                                                        <h5 class="card-title">{{ client }}</h5>#}
                                                                <p class="card-text">
                                                                    <strong>Name:</strong> {{ task.name }}
                                                                </p>
                                                                <p class="card-text">
                                                                    <strong>Project:</strong> {{ task.project }}
                                                                </p>
                                                                <p class="card-text">
                                                                    <strong>Status:</strong> {{ task.status }}</p>
                                                                <p class="card-text">
                                                                    <strong>Priority:</strong> {{ task.priority }}</p>
                                                                <p class="card-text">
                                                                    <strong>Due:</strong> {{ task.due_date }}</p>
                                                            </div>
                                                            <div class="card-footer text-body-secondary">
                                                                {#                                                        Created at: {{ invoice.date|date:"d-m-Y" }}#}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button"
                                                                class="button-black-text btn btn-outline-primary"
                                                                data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Modal -->

                                        <!-- Delete Modal  -->
                                        <div class="modal fade" id="task_{{ task.id }}" tabindex="-1"
                                             aria-labelledby="TaskModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="TaskModalLabel">Delete
                                                            - {{ task }}</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure want to delete {{ task }}?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            No
                                                        </button>
                                                        <a href="{% url 'task-delete-modal' task.id %}"
                                                           class="button-black-text btn btn-outline-danger">Yes</a>
                                                        {#                                                    <button type="button" onclick="location.href='{% url 'delete-modal' invoice.id %}'" class="btn btn-danger">Yes</button>#}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Modal -->

                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <h2 class="text-center">No Tasks.</h2>
                            {% endif %}

                            <div class="col text-center">
                                <span><button type="button" class="btn cur-p btn-outline-primary" data-bs-toggle="modal"
                                              data-bs-target="#addRecordModal"><i
                                        class="ti-plus"></i>&nbsp;Task Add</button></span><br><br></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal ADD -->
        <div class="modal fade" id="addRecordModal" tabindex="-1" role="dialog"
             aria-labelledby="addRecordModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addRecordModalLabel">Add New Task</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form_get.as_p }}
                            <div class="col text-center">
                                <button type="submit" class="btn btn-outline-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {#        </div>#}

    </main>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
