{% extends "layouts/base.html" %}

{% block title %} Projects List {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="container-fluid">

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}

                {#                <h4 class="c-grey-900 mT-10 mB-30">Clients List</h4>#}
                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20">
                            <h4 class="c-grey-900 mB-20">Projects list</h4>
                            {% if projects %}
                                <table id="dataTable" class="table table-striped table-bordered" cellspacing="0"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Client</th>
                                        <th>Employee</th>
                                        <th>Budget</th>
                                        <th>Description</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Marketing</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Client</th>
                                        <th>Employee</th>
                                        <th>Budget</th>
                                        <th>Description</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Marketing</th>
                                        <th>Action</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>

                                    {% for project in projects %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ project.name }}</td>
                                            <td>{{ project.client }}</td>
                                            <td>{{ project.employee }}</td>
                                            <td>{{ project.budget }}</td>
                                            <td>{{ project.description }}</td>
                                            <td>{{ project.start_date }}</td>
                                            <td>{{ project.end_date }}</td>
                                            <td>{{ project.marketing_campaign }}</td>

                                            <td>

                                                <div class="dropdown">
                                                    <button class="btn btn-outline-primary dropdown-toggle"
                                                            type="button"
                                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                        More
                                                    </button>

                                                    <ul class="dropdown-menu">

                                                        <li><a class="dropdown-item" data-bs-toggle="modal"
                                                               href="#project_upd_{{ project.id }}">Update</a>
                                                        </li>

                                                        <li><a class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#project_det_{{ project.id }}" href="#">Details</a>
                                                        </li>

                                                        <li><a class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#project_{{ project.id }}"
                                                               href="#">Delete</a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>

                                        <!-- Modal Update -->
                                        <div class="modal fade" id="project_upd_{{ project.id }}" tabindex="-1"
                                             aria-labelledby="ProjectModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <div class="modal-body">
                                                        <form method="post" action="{% url 'project-edit' project.id %}"
                                                              enctype="multipart/form-data">

                                                            {% csrf_token %}
                                                            <div class="card-body">
                                                                {{ project.update_form.as_p }}
                                                            </div>
                                                            <div class="card-footer text-center">
                                                                <button type="submit"
                                                                        class="button-black-text btn btn-outline-primary">
                                                                    Update
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Modal -->



                                        <!-- Modal Details -->
                                        <div class="modal fade" id="project_det_{{ project.id }}" tabindex="-1"
                                             aria-labelledby="ProjectModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="ProjectModalLabel">Details View
                                                            ProjectID: {{ project.id }} </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="card text-center">
                                                            <div class="card-header">
                                                                <h5 class="card-title">{{ project }}</h5>
                                                            </div>
                                                            <div class="card-body">
                                                                {#                                                        <h5 class="card-title">{{ client }}</h5>#}
                                                                <p class="card-text">
                                                                    <strong>Name:</strong> {{ project.name }}
                                                                </p>
                                                                <p class="card-text">
                                                                    <strong>Client:</strong> {{ project.client }}
                                                                </p>
                                                                <p class="card-text">
                                                                    <strong>Employee:</strong> {{ project.employee }}</p>
                                                                <p class="card-text">
                                                                    <strong>Budget:</strong> {{ project.budget }}</p>
                                                                <p class="card-text">
                                                                    <strong>Start Date:</strong> {{ project.start_date }}</p>
                                                                <p class="card-text">
                                                                    <strong>End Date:</strong> {{ project.end_date }}</p>
                                                                <p class="card-text">
                                                                    <strong>Marketing:</strong> {{ project.marketing_campaign }}</p>
                                                                <p class="card-text">
                                                                    <strong>Description:</strong> {{ project.description }}</p>
                                                            </div>
                                                            <div class="card-footer text-body-secondary">
                                                                {#                                                        Created at: {{ invoice.date|date:"d-m-Y" }}#}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button"
                                                                class="button-black-text btn btn-outline-primary"
                                                                data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Modal -->

                                        <!-- Delete Modal  -->
                                        <div class="modal fade" id="project_{{ project.id }}" tabindex="-1"
                                             aria-labelledby="ProjectModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="ProjectModalLabel">Delete
                                                            - {{ project }}</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure want to delete {{ project }}?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            No
                                                        </button>
                                                        <a href="{% url 'project-delete-modal' project.id %}"
                                                           class="button-black-text btn btn-outline-danger">Yes</a>
                                                        {#                                                    <button type="button" onclick="location.href='{% url 'delete-modal' invoice.id %}'" class="btn btn-danger">Yes</button>#}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Modal -->

                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <h2 class="text-center">No Projects.</h2>
                            {% endif %}

                            <div class="col text-center">
                                <span><button type="button" class="btn cur-p btn-outline-primary" data-bs-toggle="modal"
                                              data-bs-target="#addRecordModal"><i
                                        class="ti-plus"></i>&nbsp;Project Add</button></span><br><br></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal ADD -->
        <div class="modal fade" id="addRecordModal" tabindex="-1" role="dialog"
             aria-labelledby="addRecordModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addRecordModalLabel">Add New Project</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form_get.as_p }}
                            <div class="col text-center">
                                <button type="submit" class="btn btn-outline-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {#        </div>#}

    </main>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
