{% extends "base_cal.html" %}

{% block title %}Python Django Ajax FullCalender CRUD (Create, Read, Update and Delete){% endblock title %}

{% block content %}
<div class="col-md-12">
    <div id='calendar'></div>
</div>
{% endblock content %}