{% extends 'base_cal.html' %}



{% block title %} Calendar {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-4">
                        <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                            <div class="bdrs-3 ov-h bgc-white bd">
                                <div class="bgc-deep-purple-500 ta-c p-30">
                                    <h1 class="fw-300 mB-5 lh-1 c-white">{% now "d" %}</h1>
                                    {# <span class="fsz-def">st</span> #}
                                    <h3 class="c-white">{% now "l" %}</h3>
                                </div>
                                <div class="pos-r">
                                    <button type="button"
                                            class="mT-nv-50 pos-a r-10 t-2 btn cur-p bdrs-50p p-0 w-3r h-3r btn-warning"
                                            data-bs-toggle="modal"
                                            data-bs-target="#addRecordModal">
                                        <i class="ti-plus"></i>
                                    </button>
                                    <ul class="m-0 p-0 mT-20">
                                        {% if today_tasks %}
                                            {% for task in today_tasks %}
                                                <li class="bdB peers ai-c jc-sb fxw-nw">
                                                    <a class="td-n p-20 peers fxw-nw me-20 peer-greed c-grey-900"
                                                       href="">
                                                        <div class="peer mR-15">
                                                            <i class="fa fa-fw fa-clock-o c-red-500"></i>
                                                        </div>
                                                        <div class="peer">
                                                            <span class="fw-600">{{ task.name }} - {{ task.id }}</span>
                                                            <div class="c-grey-600">
                                                                <span class="c-grey-700">Status: [{{ task.status }}] - </span>
                                                                <i>Due: {{ task.due_date|date:"Y-m-d" }}</i>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <div class="peers mR-15">
                                                        {#                                                    <div class="peer">#}
                                                        {#                                                        <a href="#task_upd_{{ task.id }}" data-bs-toggle="modal"#}
                                                        {#                                                           class="td-n c-deep-purple-500 cH-blue-500 fsz-md p-5">#}
                                                        {#                                                            <i class="ti-pencil"></i>#}
                                                        {#                                                        </a>#}
                                                        {#                                                    </div>#}
                                                        <div class="peer">
                                                            <a href="#task_{{ task.id }}" data-bs-toggle="modal"
                                                               class="td-n c-red-500 cH-blue-500 fsz-md p-5">
                                                                <i class="ti-trash"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>

                                                <!-- Modal Update -->
                                                <div class="modal fade" id="task_upd_{{ task.id }}" tabindex="-1"
                                                     aria-labelledby="TaskModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">

                                                            <div class="modal-body">
                                                                <form method="post"
                                                                      action="{% url 'task-edit' task.id %}"
                                                                      enctype="multipart/form-data">

                                                                    {% csrf_token %}
                                                                    <div class="card-body">
                                                                        {{ form.update_form.as_p }}
                                                                    </div>
                                                                    <div class="card-footer text-center">
                                                                        <button type="submit"
                                                                                class="button-black-text btn btn-outline-primary">
                                                                            Update
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- END Modal -->

                                                <!-- Delete Modal  -->
                                                <div class="modal fade" id="task_{{ task.id }}" tabindex="-1"
                                                     aria-labelledby="TaskModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="TaskModalLabel">Delete
                                                                    - {{ task }}</h1>
                                                                <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Are you sure want to delete {{ task }}?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">
                                                                    No
                                                                </button>
                                                                <a href="{% url 'task-delete-modal-cal' task.id %}"
                                                                   class="button-black-text btn btn-outline-danger">Yes</a>
                                                                {#                                                    <button type="button" onclick="location.href='{% url 'delete-modal' invoice.id %}'" class="btn btn-danger">Yes</button>#}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- END Modal -->
                                            {% endfor %}

                                        {% endif %}
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="col-md-8 mx-auto">
                        <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                            <div id='calendar'></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- Modal ADD -->
        <div class="modal fade" id="addRecordModal" tabindex="-1" role="dialog"
             aria-labelledby="addRecordModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addRecordModalLabel">Add New Task</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form_get.as_p }}
                            <div class="col text-center">
                                <button type="submit" class="btn btn-outline-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{#{% block javascripts %}#}
{#    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>#}

{#{% endblock javascripts %}#}
