{% extends "layouts/base.html" %}

{% block title %} Data Tables {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="container-fluid">
                <h4 class="c-grey-900 mT-10 mB-30">Data Tables</h4>
                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20">
                            <h4 class="c-grey-900 mB-20">Bootstrap Data Table</h4>
                            {% if clients %}
                                <table id="dataTable" class="table table-striped table-bordered" cellspacing="0"
                                       width="100%">
                                    <thead>
                                    <tr>
                                         <th>No</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Address</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>No</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Address</th>
                                        <th>Action</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>

                                    {% for client in clients %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ client.first_name }}</td>
                                            <td>{{ client.last_name }}</td>
                                            <td>{{ client.email }}</td>
                                            <td>{{ client.phone }}</td>
                                            <td>{{ client.address }}</td>
                                            {#                                    <td>{{ invoice.date|date:'d-m-Y' }}</td>#}
                                            <td>

                                                <div class="dropdown">
                                                    <button class="btn btn-primary dropdown-toggle" type="button"
                                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                        more actions
                                                    </button>

                                                    <ul class="dropdown-menu">

                                                        <li><a class="dropdown-item" data-bs-toggle="modal"
                                                               href="#client_upd_{{ client.id }}">Update</a>
                                                        </li>

                                                        <li><a class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#client_det_{{ client.id }}">Details</a>
                                                        </li>

                                                        <li><a class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#client_{{ client.id }}">Delete</a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>


                                        <!-- Delete Modal  -->
                                        <div class="modal fade" id="client_{{ client.id }}" tabindex="-1"
                                             aria-labelledby="ClientModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="ClientModalLabel">Delete
                                                            - {{ client }}</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure want to delete {{ client }}?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            No
                                                        </button>
                                                        <a href="{% url 'client-delete-modal' client.id %}"
                                                           class="btn btn-outline-danger">Yes</a>
                                                        {#                                                    <button type="button" onclick="location.href='{% url 'delete-modal' invoice.id %}'" class="btn btn-danger">Yes</button>#}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Modal -->


                                        <!-- Modal Details -->
                                        <div class="modal fade" id="client_det_{{ client.id }}" tabindex="-1"
                                             aria-labelledby="ClientModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="ClientModalLabel">Details View
                                                            ClientID: {{ client.id }} </h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="card text-center">
                                                            <div class="card-header">
                                                                <h5 class="card-title">{{ client }}</h5>
                                                            </div>
                                                            <div class="card-body">
                                                                {#                                                        <h5 class="card-title">{{ client }}</h5>#}
                                                                <p class="card-text">
                                                                    <strong>First Name:</strong> {{ client.first_name }}
                                                                </p>
                                                                <p class="card-text">
                                                                    <strong>Last Name:</strong> {{ client.last_name }}
                                                                </p>
                                                                <p class="card-text">
                                                                    <strong>Email:</strong> {{ client.email }}</p>
                                                                <p class="card-text">
                                                                    <strong>Phone:</strong> {{ client.phone }}</p>
                                                                <p class="card-text">
                                                                    <strong>Address:</strong> {{ client.address }}</p>
                                                            </div>
                                                            <div class="card-footer text-body-secondary">
                                                                {#                                                        Created at: {{ invoice.date|date:"d-m-Y" }}#}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            Ok
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END Modal -->

                                        <!-- Modal Update -->
                                        <div class="modal fade" id="client_upd_{{ client.id }}" tabindex="-1"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    {#                                            <form method="post" enctype="multipart/form-data">#}
                                                    {#                                           #}
                                                    {#                                                <div class="modal-header">#}
                                                    {#                                                    <h4 class="modal-title">Update</h4>#}
                                                    {#                                                </div>#}

                                                    <div class="modal-body">
                                                        <form method="post" action="{% url 'client-update' client.id %}"
                                                              enctype="multipart/form-data">

                                                            {% csrf_token %}
                                                            <div class="card-body">
                                                                {{ client.update_form.as_p }}
                                                            </div>
                                                            <div class="card-footer text-center">
                                                                <button type="submit" class="btn btn-primary">Update
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>

                                                    <div class="modal-footer">
                                                        {#                                                    <button type="button" class="btn btn-secondary"#}
                                                        {#                                                            data-bs-dismiss="modal">#}
                                                        {#                                                        Close#}
                                                        {#                                                    </button>#}
                                                        {#                                                    <button type="submit" class="btn btn-primary"#}
                                                        {#                                                            data-bs-dismiss="modal">Ok#}
                                                        {#                                                    </button>#}
                                                    </div>
                                                    {#                                            </form>#}
                                                </div>
                                            </div>
                                        </div>



                                    {% endfor %}


                                    </tbody>
                                </table>
                            {% else %}
                                <h2 class="text-center">No Clients.</h2>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
