{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row gap-20 masonry pos-r">
                <div class="masonry-sizer col-md-6"></div>
                <div class="masonry-item  w-100">
                    <div class="row gap-20">
                        {#              <!-- #Toatl Visits ==================== -->#}
                        {#              <div class='col-md-3'>#}
                        {#                <div class="layers bd bgc-white p-20">#}
                        {#                  <div class="layer w-100 mB-10">#}
                        {#                    <h6 class="lh-1">Total Visits</h6>#}
                        {#                  </div>#}
                        {#                  <div class="layer w-100">#}
                        {#                    <div class="peers ai-sb fxw-nw">#}
                        {#                      <div class="peer peer-greed">#}
                        {#                        <span id="sparklinedash"></span>#}
                        {#                      </div>#}
                        {#                      <div class="peer">#}
                        {#                        <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">+10%</span>#}
                        {#                      </div>#}
                        {#                    </div>#}
                        {#                  </div>#}
                        {#                </div>#}
                        {#              </div>#}
                        {##}
                        {#              <!-- #Total Page Views ==================== -->#}
                        {#              <div class='col-md-3'>#}
                        {#                <div class="layers bd bgc-white p-20">#}
                        {#                  <div class="layer w-100 mB-10">#}
                        {#                    <h6 class="lh-1">Total Page Views</h6>#}
                        {#                  </div>#}
                        {#                  <div class="layer w-100">#}
                        {#                    <div class="peers ai-sb fxw-nw">#}
                        {#                      <div class="peer peer-greed">#}
                        {#                        <span id="sparklinedash2"></span>#}
                        {#                      </div>#}
                        {#                      <div class="peer">#}
                        {#                        <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500">-7%</span>#}
                        {#                      </div>#}
                        {#                    </div>#}
                        {#                  </div>#}
                        {#                </div>#}
                        {#              </div>#}
                        {##}
                        {#              <!-- #Unique Visitors ==================== -->#}
                        {#              <div class='col-md-3'>#}
                        {#                <div class="layers bd bgc-white p-20">#}
                        {#                  <div class="layer w-100 mB-10">#}
                        {#                    <h6 class="lh-1">Unique Visitor</h6>#}
                        {#                  </div>#}
                        {#                  <div class="layer w-100">#}
                        {#                    <div class="peers ai-sb fxw-nw">#}
                        {#                      <div class="peer peer-greed">#}
                        {#                        <span id="sparklinedash3"></span>#}
                        {#                      </div>#}
                        {#                      <div class="peer">#}
                        {#                        <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500">~12%</span>#}
                        {#                      </div>#}
                        {#                    </div>#}
                        {#                  </div>#}
                        {#                </div>#}
                        {#              </div>#}
                        {##}
                        {#              <!-- #Bounce Rate ==================== -->#}
                        {#              <div class='col-md-3'>#}
                        {#                <div class="layers bd bgc-white p-20">#}
                        {#                  <div class="layer w-100 mB-10">#}
                        {#                    <h6 class="lh-1">Bounce Rate</h6>#}
                        {#                  </div>#}
                        {#                  <div class="layer w-100">#}
                        {#                    <div class="peers ai-sb fxw-nw">#}
                        {#                      <div class="peer peer-greed">#}
                        {#                        <span id="sparklinedash4"></span>#}
                        {#                      </div>#}
                        {#                      <div class="peer">#}
                        {#                        <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500">33%</span>#}
                        {#                      </div>#}
                        {#                    </div>#}
                        {#                  </div>#}
                        {#                </div>#}
                        {#              </div>#}
                        {#            </div>#}
                        {#          </div>#}
                        {#            #}
                        {#                #}
                        <div class="masonry-item col-12">
                            <!-- #Tasks ==================== -->
                            <div class="bd bgc-white">
                                <div class="peers fxw-nw@lg+ ai-s">
                                    <div class="peer peer-greed w-50p@lg+ w-100@lg- p-20">

                                        <div class="layers">
                                            <div class="layer w-100 mB-5">

                                                <h6 class="lh-1">Tasks list</h6>
                                            </div>
                                            <div class="layer w-100">
                                                {#                      <div id="world-map-marker"></div>#}
                                                <div class="layer w-100">
                                                    <ul class="list-task list-group" data-role="tasklist">
                                                        {% if tasks %}
                                                            {% for task in tasks %}
                                                                {% if forloop.counter <= 6 %}
                                                                    <li class="list-group-item bdw-0" data-role="task">

                                                                        <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                                                                            {% if task.status == 'closed' %}
                                                                                {# Checked then is status = closed#}
                                                                                <input type="checkbox" id="inputCall2"
                                                                                       name="inputCheckboxesCall"
                                                                                       class="peer" checked="checked">
                                                                            {% else %}
                                                                                <input type="checkbox" id="inputCall2"
                                                                                       name="inputCheckboxesCall"
                                                                                       class="peer">
                                                                            {% endif %}
                                                                            <label for="inputCall2"
                                                                                   class="form-label peers peer-greed js-sb ai-c">

                                                                                <span class="peer peer-greed">{{ task.name }} </span>
                                                                                {#                                                                            <span class="badge rounded-pill fl-r bg-info lh-0 p-10">{{ task.due_date|timeuntil }}</span>#}
                                                                                <span class="peer">
                                                                                  {% if task.priority == 'LOW' %}
                                                                                      <span class="badge rounded-pill fl-r bg-info lh-0 p-10">{{ task.updated_at|timesince }} ago</span>
                                                                                  {% elif task.priority == 'MEDIUM' %}
                                                                                      <span class="badge rounded-pill fl-r bg-success lh-0 p-10">{{ task.updated_at|timesince }} ago</span>                                                                                  {% elif task.priority == 'MEDIUM' %}
                                                                                  {% elif task.priority == 'HIGH' %}
                                                                                      <span class="badge rounded-pill fl-r bg-danger lh-0 p-10">{{ task.updated_at|timesince }} ago</span>
                                                                                  {% endif %}
                                                                             </span>
                                                                            </label>
                                                                        </div>

                                                                    </li>

                                                                {% endif %}
                                                            {% endfor %}
                                                        {% else %}
                                                            <h3>No tasks found!</h3>
                                                        {% endif %}
                                                        <div class="ta-c bdT w-100 p-20">
                                                            <a href="{% url 'task-list' %}">View all tasks.</a>
                                                        </div>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="peer bdL p-20 w-50p@lg+ w-100p@lg-">
                                        <div class="layers">
                                            <div class="layer w-100">


                                                <!-- Projects Progress Bars -->
                                                <div class="layers">
                                                    {% if projects %}
                                                        {% for project in projects %}
                                                            {% if forloop.counter <= 4 %}
                                                                <div class="layer w-100">
                                                                <h5 class="mB-5">{{ project.name }}</h5>
                                                                <small class="fw-600 c-grey-700">{{ project.client }} </small>
                                                                <span class="pull-right c-grey-600 fsz-sm">
                                                                            {{ project.progress }}
                                                                </span>

                                                                <div class="progress mT-10">
                                                                {% if  project.progress < 50 %}
                                                                    <div class="progress-bar bgc-green-500"
                                                                         role="progressbar" aria-valuenow="30"
                                                                         aria-valuemin="0"
                                                                         aria-valuemax="100"
                                                                         style="width:{{ project.progress }}%;">
                                                                {% elif project.progress > 50 and project.progress < 70 %}
                                                                    <div class="progress-bar bgc-yellow-500"
                                                                         role="progressbar" aria-valuenow="30"
                                                                         aria-valuemin="0"
                                                                         aria-valuemax="100"
                                                                         style="width:{{ project.progress }}%;">
                                                                {% else %}
                                                                    <div class="progress-bar bgc-red-500"
                                                                         role="progressbar" aria-valuenow="30"
                                                                         aria-valuemin="0"
                                                                         aria-valuemax="100"
                                                                         style="width:{{ project.progress }}%;">
                                                                {% endif %}
                                                            <span
                                                                    class="visually-hidden">50% Complete </span>
                                                            </div>
                                                            </div>

                                                            </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                    <div class="ta-c bdT w-100 p-20">
                                                        <a href="{% url 'project-list' %}">View all projects.</a>
                                                    </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="masonry-item col-md-6">
                                        <!-- #Monthly Stats ==================== -->
                                        <div class="bd bgc-white">
                                            <div class="layers">
                                                <div class="layer w-100 pX-20 pT-20">
                                                    <h6 class="lh-1">Monthly Stats</h6>
                                                </div>
                                                <div class="layer w-100 p-20">
                                                    <canvas id="line-chart" height="220"></canvas>
                                                </div>
                                                <div class="layer bdT p-20 w-100">
                                                    <div class="peers ai-c jc-c gapX-20">
                                                        {#                                                        <div class="peer">#}
                                                        {#                                                <span class="fsz-def fw-600 mR-10 c-grey-800">10% <i#}
                                                        {#                                                        class="fa fa-level-up c-green-500"></i></span>#}
                                                        {#                                                            <small class="c-grey-500 fw-600">APPL</small>#}
                                                        {#                                                        </div>#}
                                                        <div class="peer fw-600">
                                                <span class="fsz-def fw-600 mR-10 c-grey-800">2% <i
                                                        class="fa fa-level-down c-red-500"></i></span>
                                                            <small class="c-grey-500 fw-600">Spending's</small>
                                                        </div>
                                                        <div class="peer fw-600">
                                                <span class="fsz-def fw-600 mR-10 c-grey-800">15% <i
                                                        class="fa fa-level-up c-green-500"></i></span>
                                                            <small class="c-grey-500 fw-600">Inflows</small>
                                                        </div>
                                                        <div class="peer fw-600">
                                                <span class="fsz-def fw-600 mR-10 c-grey-800">8% <i
                                                        class="fa fa-level-down c-red-500"></i></span>
                                                            <small class="c-grey-500 fw-600">Profit</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {#                        <div class="masonry-item col-md-6">#}

                                    {#                            <div class="bd bgc-white p-20">#}
                                    {#                                <div class="layers">#}
                                    {#                                    <div class="layer w-100 mB-10">#}

                                    {#                                    </div>#}
                                    {##}
                                    {##}
                                    {#                                </div>#}
                                    {#                            </div>#}
                                    {#                        </div>#}
                                    {#                                    {% if user.is_authenticated %}#}
                                    <div class="masonry-item col-md-6">
                                        <!-- #Sales Report ==================== -->
                                        <div class="bd bgc-white">
                                            <div class="layers">
                                                <div class="layer w-100 p-20">
                                                    <h6 class="lh-1">Invoices</h6>
                                                </div>
                                                <div class="layer w-100">
                                                    <div class="table-responsive p-20">
                                                        {#                                            {% if tickets %}#}
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th class=" bdwT-0">Name</th>
                                                                <th class=" bdwT-0">Status</th>
                                                                <th class=" bdwT-0">Date</th>
                                                                <th class=" bdwT-0">Price</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for invoice in invoices %}
                                                                <tr>
                                                                    <td class="fw-600">{{ invoice.customer }}</td>
                                                                    <td>
                                                                        {% if invoice.status == 'Paid' %}
                                                                            <span
                                                                                    class="badge bgc-red-50 c-green-700 p-10 lh-0 tt-c rounded-pill">{{ invoice.status }}</span>
                                                                        {% else %}
                                                                            <span
                                                                                    class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c rounded-pill">{{ invoice.status }}</span>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>{{ invoice.date }}</td>
                                                                    <td><span
                                                                            class="text-success">{{ invoice.total }}€</span>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            {#                                                <tr>#}
                                                            {#                                                    <td class="fw-600">Item #2 Name</td>#}
                                                            {#                                                    <td><span#}
                                                            {#                                                            class="badge bgc-deep-purple-50 c-deep-purple-700 p-10 lh-0 tt-c rounded-pill">New</span>#}
                                                            {#                                                    </td>#}
                                                            {#                                                    <td>Nov 19</td>#}
                                                            {#                                                    <td><span class="text-info">$34</span></td>#}
                                                            {#                                                </tr>#}
                                                            {#                                                <tr>#}
                                                            {#                                                    <td class="fw-600">Item #3 Name</td>#}
                                                            {#                                                    <td><span#}
                                                            {#                                                            class="badge bgc-pink-50 c-pink-700 p-10 lh-0 tt-c rounded-pill">New</span>#}
                                                            {#                                                    </td>#}
                                                            {#                                                    <td>Nov 20</td>#}
                                                            {#                                                    <td><span class="text-danger">-$45</span></td>#}
                                                            {#                                                </tr>#}
                                                            {#                                                <tr>#}
                                                            {#                                                    <td class="fw-600">Item #4 Name</td>#}
                                                            {#                                                    <td><span#}
                                                            {#                                                            class="badge bgc-green-50 c-green-700 p-10 lh-0 tt-c rounded-pill">Unavailable</span>#}
                                                            {#                                                    </td>#}
                                                            {#                                                    <td>Nov 21</td>#}
                                                            {#                                                    <td><span class="text-success">$65</span></td>#}
                                                            {#                                                </tr>#}
                                                            {#                                                <tr>#}
                                                            {#                                                    <td class="fw-600">Item #5 Name</td>#}
                                                            {#                                                    <td><span#}
                                                            {#                                                            class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c rounded-pill">Used</span>#}
                                                            {#                                                    </td>#}
                                                            {#                                                    <td>Nov 22</td>#}
                                                            {#                                                    <td><span class="text-success">$78</span></td>#}
                                                            {#                                                </tr>#}
                                                            {#                                                <tr>#}
                                                            {#                                                    <td class="fw-600">Item #6 Name</td>#}
                                                            {#                                                    <td><span#}
                                                            {#                                                            class="badge bgc-orange-50 c-orange-700 p-10 lh-0 tt-c rounded-pill">Used</span>#}
                                                            {#                                                    </td>#}
                                                            {#                                                    <td>Nov 23</td>#}
                                                            {#                                                    <td><span class="text-danger">-$88</span></td>#}
                                                            {#                                                </tr>#}
                                                            {#                                                <tr>#}
                                                            {#                                                    <td class="fw-600">Item #7 Name</td>#}
                                                            {#                                                    <td><span#}
                                                            {#                                                            class="badge bgc-yellow-50 c-yellow-700 p-10 lh-0 tt-c rounded-pill">Old</span>#}
                                                            {#                                                    </td>#}
                                                            {#                                                    <td>Nov 22</td>#}
                                                            {#                                                    <td><span class="text-success">$56</span></td>#}
                                                            {#                                                </tr>#}
                                                            </tbody>
                                                        </table>
                                                        {#                                                {% else %}#}
                                                        {#                                                No tickets available.#}
                                                        {#                                            {% endif %}#}
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="ta-c bdT w-100 p-20">
                                                <a href="{% url 'invoice-list' %}">View all invoices.</a>
                                            </div>
                                        </div>
                                    </div>
                                    {#                                {% endif %}#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
